//suisse
@font-face
    font-family: 'SuisseIntl-Regular'
    src: url('../fonts/SuisseIntl-Regular.woff')
    font-weight: 400

//Roboto
@font-face
    font-family: 'Roboto-Regular'
    src: url('../fonts/Roboto/Roboto-Regular.woff')
    font-weight: 400

@font-face
    font-family: 'Roboto-Medium'
    src: url('../fonts/Roboto/Roboto-Medium.woff')
    font-weight: 500

@font-face
    font-family: 'Roboto-Bold'
    src: url('../fonts/Roboto/Roboto-Bold.woff')
    font-weight: 700

//JosefinSans
@font-face
    font-family: 'JosefinSans-Bold'
    src: url('../fonts/JosefinSans/JosefinSans-Bold.woff')
    font-weight: 700
    
    
// NunitoSans

@font-face
    font-family: 'NunitoSans10pt-LightItalic'
    src: url('../fonts/Nunito/NunitoSans10pt-LightItalic.woff')
    font-weight: 300

@font-face
    font-family: 'NunitoSans10pt-Italic'
    src: url('../fonts/Nunito/NunitoSans10pt-Italic.woff')
    font-weight: 400

@font-face
    font-family: 'NunitoSans10pt-Medium'
    src: url('../fonts/Nunito/NunitoSans10pt-Medium.woff')
    font-weight: 500

@font-face
    font-family: 'NunitoSans10pt-SemiBoldItalic'
    src: url('../fonts/Nunito/NunitoSans10pt-SemiBoldItalic.woff')
    font-weight: 600

@font-face
    font-family: 'NunitoSans10pt-BoldItalic'
    src: url('../fonts/Nunito/NunitoSans10pt-BoldItalic.woff')
    font-weight: 700

@font-face
    font-family: 'NunitoSans10pt-ExtraBoldItalic'
    src: url('../fonts/Nunito/NunitoSans10pt-ExtraBoldItalic.woff')
    font-weight: 800

@font-face
    font-family: 'NunitoSans10pt-ExtraBold'
    src: url('../fonts/Nunito/NunitoSans10pt-ExtraBold.woff')
    font-weight: 800