@media screen and (min-width: 2200px)
  .info
    .container
      &:before
        width: 1105px
        height: 680px
        top: 3%
      &:after
        width: 875px
        height: 740px
        position: absolute
        top: -11%
  .step
    .container
      &:before
        width: 2672px
        height: 712px
        top: -23%

@media screen and (max-width: 1800px)
  .info
    padding: 0 0 75px
    .container
      &:before
        width: 660px
        height: 400px
        top: 14%
        left: -123px
      &:after
        width: 540px
        height: 430px
        top: 7%
        right: -140px
    &__sum
      margin: 43px 0
      padding: 12px 55px 7px
      font-size: 70px
      line-height: 80px
    &__sub
      font-size: 38px
    &__txt
      margin-top: 10px
  .step
    .container
      &:before
        top: 4%
        width: 1895px
        height: 530px
    &__list
      margin-top: 30px
  .tableResults
    &__wrapp
      margin: 35px auto 50px
    &__txt
      margin-bottom: 35px

@media screen and (max-width: 1400px)
  .info
    .container
      &:before
        width: 505px
        height: 315px
        top: 20%
      &:after
        width: 512px
        height: 370px
        top: 7%
        right: -183px
    &__title,.title
      max-width: 900px
      font-size: 41px
      line-height: 52px
  .step__list
    max-width: 940px

@media screen and (max-width: 1000px)
  .info
    padding-bottom: 50px
    .container
      &:after
        width: 293px
        height: 250px
        top: 35%
        right: -100px
      &:before
        width: 378px
        height: 235px
        top: 23%
    &__title,.title
      max-width: 708px
      font-size: 38px
      line-height: 60px
    &__sum
      margin: 20px 0 50px
      font-size: 50px
      line-height: 70px
    &__sub
      font-size: 28px
      line-height: 38px
    &__txt
      max-width: 652px
      font-size: 14px
      line-height: 25px
  .step
    .container
      &:before
        width: 1172px
        height: 315px
        top: 18%
        left: 0
    &__list
      max-width: 708px
      margin: 35px auto 50px
    &__item
      padding: 60px 5px 28px
      width: 208px
      &-num
        font-size: 60px
        line-height: 50px
        &:before
          top: -50px
          width: 131px
          height: 148px
      &-descr
        margin-top: 35px
        max-width: 190px
        font-size: 14px
        line-height: 20px
  .prediction
    padding-top: 65px
    &__wrapp
      margin: 170px auto 55px
      max-width: 650px
      align-items: flex-end
    &__team
      &-name
        margin-top: 3px
    &__flex
      position: absolute
      top: -90px
      left: 0
      right: 0
      margin: auto
      width: 273px
      &:before
        height: 278px
    &__score
      font-size: 80px
    &__last
      margin-top: 32px
      flex-direction: row
      justify-content: center
      &-wrapp
        margin-top: 0
        margin-left: 13px
    &__yourBet
      font-size: 14px
  .tableResults
    &__wrapp
      margin: 20px auto 35px
      max-width: 708px
    &__head
      padding-left: 40px
      &-col
        font-size: 16px
        line-height: 19px
        &:nth-of-type(2)
          width: 29%
        &:nth-of-type(3)
          width: 26%
        &:nth-of-type(4)
          width: 14%
    &__body
      padding-left: 40px
      padding-right: 20px
      margin-right: 17px
      font-size: 16px
      max-height: 467px
      &-col
        &:nth-of-type(3)
          width: 28%
        &:nth-of-type(4)
          width: 17%
  .rules
    padding: 40px 0
  .container
    max-width: 708px
  .title
    font-size: 38px
    line-height: 45px
  .drop
    max-width: 708px
    .dropdown
      summary
        padding-left: 24px
        &:after
          width: 23px
          height: 23px
          top: 39%
      .drop-txt
        padding-right: 28px
  .btn
    min-width: 306px
    padding: 22px 10px 18px

@media screen and (max-width: 750px)
  .container,.drop
    padding: 0 18px
  .rules
    padding: 40px 18px

@media screen and (max-width: 700px)
  .info
    .container
      &:after
        width: 175px
        height: 183px
        top: 33%
        right: -62px
      &:before
        width: 200px
        height: 125px
        top: 25%
        left: -30px
    &__title,.title
      max-width: 100%
      font-size: 28px
      line-height: 36px
    &__sum
      margin: 35px 0
      padding: 12px 25px 7px
      font-size: 27px
      line-height: 42px
    &__sub
      font-size: 21px
      line-height: 25px

  .step
    &__list
      margin: 25px 0 45px
      flex-direction: column
      z-index: 1
    &__item
      padding: 11px 20px 8px 53px
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      &:nth-of-type(2)
        margin: 30px 0
      &-num
        font-size: 40px
        &:before
          width: 83px
          height: 94px
          top: -25px
          left: -30px
      &-descr
        max-width: 200px
        font-size: 16px
        line-height: 20px
        text-align: end
        margin: 0
    &__lightning1,&__lightning2,&__lightning3
      display: block
      position: absolute
    &__lightning1
      background: url("https://favoritpromo.com/html/predictor-fight-hr/img/lightning1_step_mob.png") no-repeat 0 0/contain
      width: 182px
      height: 182px
      top: 55px
      left: -30px
    &__lightning2
      background: url("https://favoritpromo.com/html/predictor-fight-hr/img/lightning2_step_mob.png") no-repeat 0 0/contain
      width: 310px
      height: 113px
      top: 0
      right: -115px
    &__lightning3
      background: url("https://favoritpromo.com/html/predictor-fight-hr/img/lightning3_step_mob.png") no-repeat 0 0/contain
      width: 235px
      height: 250px
      right: -115px
      bottom: -137px
  .prediction
    padding: 60px 0
    &__wrapp
      justify-content: center
      margin-bottom: 60px
    &__score
      font-size: 60px
    &__flex
      width: 230px
      &:before
        height: 230px
        top: -70px
    &__team
      &:first-child
        margin-right: 20px
      &-wrapp
        margin: 160px auto 40px
        max-width: 340px
      &-img
        width: 160px
      &-name
        margin-top: 40px
      &-btn
        &-plus
          right: -10px
        &-minus
          left: -10px
    &__last
      margin-top: 40px
      flex-direction: column
      &-wrapp
        margin-left: 0
        margin-top: 17px
    &__bet
      margin-top: 20px
      &-true,&-false
        font-size: 14px
        padding: 4px 14px 2px

  .tableResults
    .container
      padding: 0
    &__wrapp
      margin: 25px 0 35px
      border-radius: 0
    &__head
      padding: 14px 5px 13px 18px
      &-col
        font-size: 10px
        line-height: 14px
        padding-right: 3px
        &:nth-of-type(1)
          width: 23%
        &:nth-of-type(2)
          width: 26%
        &:nth-of-type(3)
          width: 32%
        &:nth-of-type(4)
          width: 19%
    &__body
      margin-right: 5px
      max-height: 640px
      padding: 0 5px 0 18px
      font-size: 13px
      line-height: 16px
      border-bottom-width: 23px
      border-left: none
      border-right: none
      &-col
        padding-right: 3px
        span
          font-size: 10px
          padding-left: 0
        &:nth-of-type(2)
          width: 26%
        &:nth-of-type(3)
          width: 34%
    &__txt
      margin-bottom: 50px
      font-size: 9px
      line-height: 16px
      padding: 0 18px

  .drop
    .dropdown
      summary
        padding: 12px 35px 9px 16px
        border-radius: 8px
        &:after
          width: 14px
          height: 14px
          right: 16px
      .drop-txt
        margin-top: 2px
        padding: 20px 14px 15px 18px
        font-size: 12px
        line-height: 20px
        border-radius: 8px
        strong
          font-size: 14px
        .retreat1
          padding-left: 10px
        .retreat2
          padding-left: 15px
        .circle
          padding-left: 15px
  .rules
    .dropdown
      summary
        font-size: 14px
        line-height: 22px
      .drop-txt-list
        max-height: 300px
  .title
    font-size: 28px
    line-height: 36px
  .btn
    min-width: 340px
    font-size: 18px
    padding: 17px 10px 14px
    &:before
      left: 0
      right: 0
      top: -30px
      font-size: 16px
  @keyframes betScale
    0%
      transform: scale(1)
    50%
      transform: scale(1.05)
    100%
      transform: scale(1)

@media screen and (max-width: 374px)
  .info
    padding-bottom: 30px
    &__title,.title
      font-size: 20px
      line-height: 29px
    &__sum
      margin: 25px 0
      padding: 9px 21px 5px
      font-size: 21px
      line-height: 36px
    &__txt
      font-size: 11px
      line-height: 22px
  .step
    &__item
      padding-left: 40px
      &-descr
        max-width: 145px
        font-size: 11px
        line-height: 18px
  .prediction
    padding: 40px 0
    &__wrapp
      max-width: 320px
    &__team
      &-img
        width: 124px
      &-name
        margin-top: 10px
        font-size: 24px
        line-height: 26px
    &__last
      margin-top: 20px
      font-size: 14px
      &-wrapp
        margin-top: 10px
    &__bet
      &-true,&-false
        padding: 4px 8px 2px
        font-size: 12px
        line-height: 18px
    &__yourBet
      font-size: 10px
  .tableResults
    &__head
      padding-left: 7px
    &__body
      padding-left: 7px
    &__row
      font-size: 11px
      line-height: 14px
  .drop
    .dropdown
      summary
        font-size: 11px
        line-height: 19px
  .btn
    min-width: 270px
  .title
    font-size: 22px
    line-height: 30px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .info
    padding: 30px 0
