.fav__page#predictor
    .right-decor
    .left-decor
    .banner
        .banner__img
            picture.uk
                source(media="(min-width: 1001px)" srcset="./img/banner_desk.jpg")
                source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/banner_tab.jpg")
                source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/banner_tab.jpg")
                source(media="(max-width: 700px)" srcset="./img/banner_mob.jpg")
                img(src="./img/banner_desk.jpg", alt="FAVBET")
            picture.en
                source(media="(min-width: 1001px)" srcset="./img/banner_desk-en.jpg")
                source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/banner_tab-en.jpg")
                source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/banner_tab-en.jpg")
                source(media="(max-width: 700px)" srcset="./img/banner_mob-en.jpg")
                img(src="./img/banner_desk-en.jpg", alt="FAVBET")
        a(href="/login/" data-translate="login").banner__btn.btn.unauth-msg
        a(href="/sports/event/boxing/41219189/" data-translate="betBtn").banner__btn.btn.took-part.hide
        .banner__text(data-translate="bannerText")
    .info
        .container
            .info__title(data-translate="infoTitle")
            .info__sum
                picture
                    source(media="(min-width: 1001px)" srcset="./img/sum-desk.png")
                    source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/sum-mob.png")
                    source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/sum-tab.png")
                    source(media="(max-width: 700px)" srcset="./img/sum-mob.png")
                    img(src="./img/sum-desk.png", alt="FAVBET")
            //.info__sub(data-translate="infoSub")
            //.info__sub(data-translate="infoTxt")
    .step
        .container
            .step__title.title(data-translate="stepTitle")
            .step__list
                .step__item
                    .step__item-num
                        picture
                            source(media="(min-width: 1001px)" srcset="./img/num-1.png")
                            source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/num-1-mob.png")
                            source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/num-1.png")
                            source(media="(max-width: 700px)" srcset="./img/num-1-mob.png")
                            img(src="./img/num-1.png", alt="FAVBET")
                    .step__item-descr(data-translate="step-1")
                .step__item
                    .step__item-num
                        picture
                            source(media="(min-width: 1001px)" srcset="./img/num-2.png")
                            source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/num-2-mob.png")
                            source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/num-2.png")
                            source(media="(max-width: 700px)" srcset="./img/num-2-mob.png")
                            img(src="./img/num-2.png", alt="FAVBET")
                    .step__item-descr(data-translate="step-2")
                .step__item
                    .step__item-num
                        picture
                            source(media="(min-width: 1001px)" srcset="./img/num-3.png")
                            source(media="(max-width: 920px) and (max-height: 450px)" srcset="./img/num-3-mob.png")
                            source(media="(min-width: 701px) and (max-width: 1000px)" srcset="./img/num-3.png")
                            source(media="(max-width: 700px)" srcset="./img/num-3-mob.png")
                            img(src="./img/num-3.png", alt="FAVBET")
                    .step__item-descr(data-translate="step-3")
            .step__details.drop
                details.dropdown
                    summary(data-translate="stepDetails")
                    .drop-txt
                        .drop-txt-list(data-translate="stepDetailsList")
    .prediction
        .container
            .prediction__title.title(data-translate="predictionTitle")
            .prediction__wrapp
                .prediction__team.player1
                    picture.prediction__team-img.uk
                        source(media="(min-width: 701px)" srcset="./img/left-predict.png")
                        source(media="(max-width: 700px)" srcset="./img/left-predict-mob.png")
                        img(src="./img/left-predict.png", alt="FAVBET")
                    picture.prediction__team-img.en
                        source(media="(min-width: 701px)" srcset="./img/left-predict-en.png")
                        source(media="(max-width: 700px)" srcset="./img/left-predict-mob-en.png")
                        img(src="./img/left-predict-en.png", alt="FAVBET")
                .prediction__flex
                    .prediction__score 1
                    .prediction__team-btn-plus.team2-plus(role="button")
                    .prediction__team-btn-minus.team2-minus(role="button")
                .prediction__team.player2
                    picture.prediction__team-img.uk
                        source(media="(min-width: 701px)" srcset="./img/right-predict.png")
                        source(media="(max-width: 700px)" srcset="./img/right-predict-mob.png")
                        img(src="./img/right-predict.png", alt="FAVBET")
                    picture.prediction__team-img.en
                        source(media="(min-width: 701px)" srcset="./img/right-predict-en.png")
                        source(media="(max-width: 700px)" srcset="./img/right-predict-mob-en.png")
                        img(src="./img/right-predict-en.png", alt="FAVBET")
            a(href="/login/" role="button" data-translate="login").prediction__btn.btn.unauth-msg
            .prediction__btn.btn.took-part.hide(data-translate="partBtn")
            .prediction__last.hide
                .prediction__last-txt(data-translate="lastPrediction")
                .prediction__last-wrapp
                    .prediction__bet
                        .prediction__bet-true.hide
                            span(data-translate="betTrue")
                        .prediction__bet-false.hide
                            span(data-translate="betFalse")
                        .prediction__bet-text(data-translate="betText")
    .wrapp
        .wrapp__bg
        .tableResults
            .container
                .tableResults__title.title(data-translate="tableTitle")
                .tableResults__wrapp
                    .tableResults__head
                        .tableResults__head-col(data-translate="tableHeadID")
                        .tableResults__head-col(data-translate="tableHeadDate")
                        .tableResults__head-col(data-translate="tableHeadPrediction")
                        .tableResults__head-col(data-translate="tableHeadPrizes")
                    .tableResults__body#top-users
                .tableResults__txt(data-translate="tableTxt")
                a(href="/sports/event/boxing/41219189/" target="_blank" role="button" data-translate="betBtn").tableResults__btn.btn.took-part.hide
                a(href="/login/" target="_blank" role="button" data-translate="login").tableResults__btn.btn.unauth-msg
    .rules.drop
        details.dropdown
            summary(data-translate="terms")
            .drop-txt
                .drop-txt-list(data-translate="termsList")